@{
    Layout = "~/Views/Shared/_LayoutHomeSeller.cshtml";
    ViewData["Title"] = "Home Page Seller";
}

<div class="container">
    <h1>Product Options</h1>
    <p>Click on the buttons below:</p>
    <div class="row">
        <div class="form-group">
            <a href="/Product/addProduct" class="btn btn-primary">Add</a>
        </div>


        <div class="form-group">
            <a href="/Product/showProduct" class="btn btn-secondary">Show</a>
        </div>


        <div class="form-group">
            <a href="/Product/deleteProduct" class="btn btn-danger">Delete</a>
        </div>

    </div>
</div>

</div>
