<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="@Href("~/css/home.css")" />
	<link rel="Stylesheet" href="@Href("~/css/footer.css")" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>
    <!-- navbar -->
   <nav class = "navbar navbar-expand-md text-white bg-dark py-2 fixed-top">
      @* <div class="navbar-logo">
                <img src="../images/logo.png" alt="Test" height="60" width="140" />
            </div>*@
        <div class = "container">
            <a class = "col-3 navbar-brand justify-content-between align-items-center order-lg-0" href = "/Home/ShowResult">
                <span class="text-white">EHOP</span>
            </a>

            <button class = " bg-white navbar-light navbar-toggler border-0 m-sm-auto" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "col-9 collapse navbar-collapse " id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                   <li class = "nav-item px-3 py-2">
                        <a class = "nav-link text-white" href = "/Home/homePage">HOME</a>
                    </li>
                    <li class = "nav-item px-3 py-2">
                        <a class = "nav-link  text-white" href="/Product/products">PRODUCTS</a>
                    </li>
                    <li class = "nav-item px-3 py-2 border-0">
                        <a class = "nav-link  text-white" href = "/Cart/showCart">CART</a>
                    </li>
                     <li class = "nav-item px-3 py-2 border-0 ">
                        <a class = "nav-link  text-white" href = "/Product/Search">SEARCH</a>
                    </li>
                    <li class = "nav-item px-3 py-2">
                        <a class = "nav-link  text-white" href = "/AboutUs/aboutUs">ABOUT US</a>
                    </li>
                    <li class = "nav-item px-3 py-2 border-0">
                        <a class = "nav-link  text-white" href = "/AboutUs/contactUs">CONTACT US</a>
                    </li>
                    <li class = "nav-item px-3 py-2 border-0">
                        <a href = "/Login/Login" class = "btn col-s">Sign Out</a>
                    </li>

                </ul>
            </div>


        </div>
    </nav>

     <div>
            @RenderBody();
    </div>


	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
					<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Information</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Information</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.ehop.com" target="_blank">EHOP</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
</body>
</head>
</html>


